jianpu_annotator_tauri/node_modules
jianpu_annotator_tauri/dist
jianpu_annotator_tauri/src-tauri/target
.DS_Store
*/.DS_Store

jianpu_annotator_tauri/src-tauri/icons/
jianpu_annotator_tauri/*.jpg
*.qmx

dataset_*/
*.zip
*.json
*.png
*.pdf
.gitignore_bak
Fonts/
__MACOSX/
__pycache__/
jianpu-editor/
output/
qmx_output/
rule.md
*.mp3
*.html